#app{
  background: #ddd;
  font-family: 'hack',sans-serif;
  font-weight: bold;
  font-size: 16px;

  padding: 0.5rem 2rem; /*여백설정*/
}

a{
  text-decoration: none;
}

ul{

  list-style: none;
}

h1,h2,h3,h4,h6{
  margin: 0;

  margin-bottom: 0.5rem;
}